<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <header class="wrapper">
        <nav>
            <ol>
                <li><a href="/">home</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/profile">profile</a></li>
                <li><a href="/reg">reg</a></li>
                <li><a href="/new">new</a></li>
            </ol>
        </nav>
    </header>

    {{{body}}}

</body>
</html>
