.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: lightgoldenrodyellow;
}

.header .menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
