<section class="header wrapper ">
    <ul class="menu">
        <li><a
            class="link"
            ng-class="vm.activeState == 'main.home' ? 'active' : '' "
            ui-sref="main.home">Home</a>
        </li>
        <li><a
            class="link"
            ng-class="vm.activeState == 'main.news' ? 'active' : '' "
            ui-sref="main.news">News</a>
        </li>
        <li><a
            class="link"
            ng-class="vm.activeState == 'main.users' ? 'active' : '' "
            ui-sref="main.users">Users</a>
        </li>
        <li><a
            class="link"
            ng-class="vm.activeState == 'main.reg' ? 'active' : '' "
            ui-sref="main.reg">Registartion</a>
        </li>
    </ul>
</section>
