// GLOBAL COLORS
$color-ligth: #fff;
$color-border: #dadada; // color for all HR's & BORDERS
$color-hover: #f4f4f4;

$color-font: #666;
$color-font-light: #7f7f7f;
$color-font-title: #000;

$color-body: #f4f4f4;

$color-inactive: #b4b4b4;
$color-active: #b69169;
$color-active-link: #000;
