.reg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-group{
    border: 1px solid $color-border;
    border-radius: 5px;
    margin: 25px 0;
    display: flex;
    align-items: flex-start;
    padding:25px;

    .input{
        margin: 0;
    }
}
