.users{
    //text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    //align-items: center;
    background: lightskyblue;

    .item{
        text-align: center;
        border: 1px solid $color-border;
        padding: 10px;
        margin: 25px;
    }
}
