// GLOBAL COLORS
$hr_color: #d1d1d1; // color for all HR's & BORDERS
$hr_color2: #2e2e2e; // color for all HR's & BORDERS

$font_main_color: #000;

$inactive_color: #b4b4b4;
$active_color: #c41735;
$active_click_color: #e01b3c;
